:root {
  --surface-color: #fff;
  --curve: 40;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #fef8f8;
}

.table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 8px;
}

.table td, .table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even){
    background-color: #f2f2f2;
}

.table tr:hover {background-color: #ddd;}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a704aa;
  color: white;
}

.page-title {
    font-family: Helvetica, sans-serif;
    font-size: 2.2em;
    margin: 30px 0 .3em;
    color: #6A515E;
    text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.admin {
    border-style: solid;
    border-color:#edc0dd;
    border-width:1px;
    height:auto;
    overflow: auto;
}

.card-message {
    margin-top: 100px;
    border-style: solid;
    border-color:#edc0dd;
    border-width:1px;
    width:70%;
    height:300px;
}

.admin-card-title {
    font-size: 1em;
    color: #6A515E;
    text-align: center;
}

.message {
    font-size: 1.5em;
    margin: 30px 0 .3em;
    color: #6A515E;
    text-align: center;
}

.home {
    text-align: center;
}

button[type="submit"] {
  background-color: hsl(213, 73%, 50%);
  color: white;
  margin-top: 1rem;
}

button[type="submit"]:hover {
  background-color: hsl(213, 73%, 40%);
}

.form {
  padding-left: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.form-input {
  margin: .3em 0 .3em ;
  color: #6A515E;
  display: inline-block;
  font: 1rem sans-serif;
  margin-bottom: 0.5rem;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: #6A515E;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: .8em;
  color: #D7BDCA;
}

.card__status {
  font-size: .8em;
  color: #D7BDCA;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #D7BDCA;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}